
# PlanAhead Generated physical constraints 

NET "clk" LOC = C9;
NET "ck" LOC = C9;
NET "din[0]" LOC = T10;
NET "din[1]" LOC = T9;
NET "din[2]" LOC = V9;
NET "din[3]" LOC = M8;
NET "din[4]" LOC = N8;
NET "din[5]" LOC = U8;
NET "din[6]" LOC = V8;
NET "din[7]" LOC = T5;
NET "dout[0]" LOC = U16;
NET "dout[1]" LOC = V16;
NET "dout[2]" LOC = U15;
NET "dout[3]" LOC = V15;
NET "dout[4]" LOC = M11;
NET "dout[5]" LOC = N11;
NET "dout[6]" LOC = R11;
NET "dout[7]" LOC = T11;
NET "en" LOC = D9;
NET "load" LOC = B8;
NET "rst" LOC = C4;
NET "rw" LOC = A8;
NET "sens" LOC = A8;